@charset "UTF-8";
/* CSS Document */
#masthead{
	background-color:#48F1EF;
}


#about{
	background-color:#48F1Ef;
}

#footer{
	background-color:#010066;
}

#portfolio{
	background-color:#010066;
}